{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">About Fred Bernstein</h1>
    <div class="row">
        <div class="col-8">
            <p>Fred Bernstein studied architecture at Princeton University and law at NYU. He writes about both subjects.</p>
            <p>At Princeton, Fred divided his time between the architecture studio and the office of the University Press Club, where he worked as a stringer for the Newark Star-Ledger. When he graduated, jobs for architects were scarce, so he became a newspaper reporter.</p>
            <p>Over the next decade, he worked as a writer and editor while also playing a small role in creating the Princeton Review. “Fred’s Theorem” is named for him.</p>
            <p>In his early thirties, he entered NYU Law School, where he was a law review editor and participant in many organizations. After graduating magna cum laude, he clerked for two federal judges, taught Evidence at Cornell and Lawyering at NYU and drifted back into freelance journalism. (Becoming a father deterred him from taking a full-time job.)</p>
            <p>Architecture remained his passion. So after his sons were born (in 2002), he began devoting himself to writing about buildings and landscapes. He has published more than 400 articles in the New York Times (some as Fred Bernstein and some as Fred A. Bernstein, which matters if you’re searching at nytimes.com) and hundreds more for other publications, including Architectural Record, Architect, Landscape Architect, Architectural Digest — every magazine with “architect” in its title. In 2008 he received the Oculus Award, bestowed annually by the New York chapter of the American Institute of Architects for excellence in architecture writing.</p>
            <p>He has published opinion pieces in the New York Times, the Los Angeles Times, the Wall Street Journal, the Washington Post, the Huffington Post, and many other publications. He is particularly proud of this one.</p>
            <p>Once called a “Renaissance man” by someone who didn’t think much of the Renaissance, Fred has written or co-written four books (one about Jewish mothers, one on home renovation, one about a Chicago architect, and one on ensuring that children grow up with sufficient self-esteem). He has also written plays and screenplays and is working on a memoir, inspired by things he found while going through boxes, some more than 30 years old, in a moldy storage space in Connecticut. It is tentatively called “A Life in Boxes.”</p>
            <p>He occasionally tries his hand at design. His proposal for a 9/11 memorial called the Twin Piers was selected as one of nine finalists in the 2003 competition. That story is <a href="http://www.fredbernstein.net/about/">here.</a></p>
            <br><br>
            <p>Contact Fred at <a href="mailto:fredabernstein@gmail.com">fredabernstein@gmail.com</a></p>
        </div>
        <div class="col-4">
            <img src="static/fred.jpg" class="shadow-lg">
        </div>
    </div>
{% endblock %}