{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">Creative Writing</h1>
    <div class="article">
        <h3><a href="https://docs.google.com/document/d/1fvOA8sI19AALSZS4wKpzb748rCV6XguP0cKgkNAwFBk/edit" target="_blank">Martin Rabinowitz's Guide to Life</a></h3>
        <h4>A Play in Two Acts</h4>
        <h4>Written in 2012, revised in 2014. A wayward son sees if there's a place for him in his father's new family</h4>
    </div>
    <div class="article">
        <h3><a href="https://docs.google.com/document/d/0B3KYD_dQIgcDRmE0WExETU5QYTYtTDlsN2ZDWmJFUDFWXzMw/edit" target="_blank">Turbulence</a></h3>
        <h4>A Short Play in Two Acts</h4>
        <h4>A gay man has a long-hoped-for encounter with his high school girlfriend</h4>
        <h5>Circa 1998</h5>
    </div>
    <div class="article">
        <h3><a href="https://docs.google.com/document/d/1OfOoL8m_6mdKk-8Xub3TB9HiQFIs5FZPiwcQEvKBei4/edit" target="_blank">Ham and Eggs</a></h3>
        <h4>A spec script for Modern Family</h4>
    </div>
{% endblock %}
