{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">Design Projects</h1>
    <div class="article">
        <h3><a href="http://fredbernstein.com/page1.html" target="_blank">Twin Piers: The Website</a></h3>
        <h4>As proposed in 2002</h4>
    </div>
    <div class="article">
        <h3><a href="https://docs.google.com/document/d/1iGpex50Iu5T67CsaCQoKEaooxbDLCPi9-YV4ttOoUsA/edit" target="_blank">Twin Piers: What Might Have Been</a></h3>
        <h4>The sad saga ...</h4>
    </div>
    <div class="article">
        <h3><a href="https://designobserver.com/feature/the-next-worlds-fair-a-proposal/29808" target="_blank">A Proposal for the Next World's Fair</a></h3>
        <h4>A Better Bet than the Olympics</h4>
        <h5>Design Observer, November 2011</h5>
    </div>
{% endblock %}