{% extends "base.html" %}

{% block content %}
    <h1>Edit Article</h1>
    <form method="post" action="/admin/editarticle/{{ article._id }}/submit">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="title" class="form-control" value="{{ article.title }}">
        </div>
        <div class="form-group">
            <label>Subtitle</label>
            <input type="text" name="subtitle" class="form-control" value="{{ article.subtitle }}">
        </div>
        <div class="form-group">
            <label>Publication</label>
            <select class="form-control" name="publication">
                {% for publication in publications %}
                    <option>{{ publication.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="text" name="date" class="form-control" value="{{ article.date }}">
        </div>
        <div class="form-group">
            <label>Topic</label>
            <select class="form-control" name="topic">
                {% for topic in topics %}
                    <option>{{ topic.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Featured</label>
            {% if article.featured %}
                <input type="checkbox" name="featured" class="form-control" checked>
            {% else %}
                <input type="checkbox" name="featured" class="form-control">
            {% endif %}
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" name="url" class="form-control" value="{{ article.url }}">
        </div>
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-danger"><a href="/admin/deletearticle/{{ article._id }}">Delete</a></button>
    </form>
{% endblock %}